.individual-spot-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 15%;
    padding-left: 15%;
    top: 35px;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.small-image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    height: 340px;
    width: 500px;
}

.main-image {
    height: 320px;
    width: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.secondary-image-div {
    height: 160px;
    width: auto;
    padding: 5px;
}
