.individual-spot-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 15%;
    padding-right: 14%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}


/* .small-image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    height: 340px;
    width: 500px;
} */

.main-image {
    height: 43vh;
    width: 34vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.no-image-placeholder {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
}

.secondary-image-div {
    height: 21vh;
    width: 16vw;
    padding: 5px;
    box-sizing: border-box;
}

.individual-page-header-div {
    display: flex;
    justify-content: space-between;

}

.star-icon-and-reviews {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.start-icon-div {
    margin-right: 3px;
}

.city-state-country-div {
    padding-left: 10px;
}

.edit-delete-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;

}

.delete-button {
    margin-left: 5px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.icon-avgReviews-reviewCount-div {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.avgRating-div {
    padding-right: 5px;
    padding-left: 3px;
}

.spot-information-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}

.spotpage-description-div {
    padding-bottom: 5px;
}

.bedroom-bed-bath {
    color: rgb(128, 128, 128)
}

.bookings-div {
    padding: 10px;
    width: 300px;
    height: 80px;
    text-align: left;
    border: solid .1px rgb(170, 170, 170);
    border-radius: 15px;
}
.price-night-reviews-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-night-div {
    display: flex;
    flex-direction: row;
}

.reserve-button-div {
    display: flex;
    justify-content: center;
}

#reserve-button {
    width: 230px;
    height: 33px;
    background: rgb(228,29,81);
    color: white;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    margin-top: 15px;
}

.avgRating-numReviews-write-review-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

}
.write-review-div {

    width: 125px;
    text-align: left;
    margin-left: 1%
}
.review-box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.comment-box {
    padding: 7px;
    width: 40%;
    border-radius: 15px;
}
.comment-box:hover {
    background: rgb(250, 197, 207);
}

.comment-user-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: inherit; */
}

.comment-user-name {
    color: rgb(128, 128, 128)
}

.delete-review {
    border-style: none;
    background: none;
}

.delete-review:hover {
    color: rgb(228,29,87);
}
