.individual-spot-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 14%;
    padding-left: 14%;
    top: 35px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* .small-image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: warp;
    height: 340px;
    width: 500px;
} */

.main-image {
    height: 44vh;
    width: 34vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.secondary-image-div {
    height: 21vh;
    width: 16vw;
    padding: 5px;
}
