.sportcard-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    flex-wrap: wrap;


}

.spotcard-div {
    /* border: 2px solid #000000; */
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4px;

    border-radius: 5px;
    flex-wrap: wrap;
    position: relative;
    margin: 14px;
    height: 42vh;
    width: 17vw;
    text-decoration: none;

}

.image-class {
    object-fit: cover;
    display: flex;
    flex-direction: row;
    /* height: 20vh;
    width: 18vw; */
    height: 30vh;
    /* width: 220px; */
    width: inherit;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 3px;
}

.city-state {
    display: flex;
    font-weight: bold;
    padding-left: 3px;
}

.description-div {
    object-fit: cover;
    padding-left: 3px;
    max-width: 220px;
    color: rgb(114, 111, 111);
}

.card-price-div {
    padding-left: 3px;
}

.city-state-rating-div {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.star-icon-avg-rating {
    display: flex;
}


/* .start-icon-div {
    margin-right: 0px;
} */
