.hidden {
    display: none;
}

#root {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: radial-gradient(rgb(255, 255, 255), rgb(255, 186, 198) );
    color: rgb(255,56,92);

}
/* .form-input-divs {
    padding: 10px;
} */
.form-button {
    width: 148px;
    background-color: rgb(250, 113, 138);
    border-style: outset;
    border: none;
    border-radius: 3px;
}

.form-button:hover {
    background-color: rgb(248, 92, 120);
}
