
.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13%;
    padding-right: 11%;
    position: sticky;
    top: 0px;
    z-index: 9999;
    opacity: 100%;
    background-color: white;
    height: 55px;
}



.hidden {
    display: none
}


.your-toru-profile-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}


.your-toru-bnb {
    list-style: none;
    padding-right: 50px;
    color: rgb(228,29,87);
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
}
.fa-brands {
    color: rgb(228,29,87);
    font-weight: bolder;
}
